*       @g-k, @kkleemola, @pwnbus

# the AMO team should review changes that impact Addon signing
signer/xpi/	@diox

# TODO: check with Mathieu
# signer/contentsignature	@leplatrem
# signer/contentsignaturepki	@leplatrem
