# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

*.out
*.log
.DS_Store

docs/*.html
*.html
signer/*/*.html

tools/autograph-lambda-python-healthcheck/*
tools/sign-addon/venv/*

vendor/go.mozilla.org/cose/samples/*
version.json

# Python dev stuff
**/.venv*
**/venv*
**/__pycache__
**/*.egg-info
