version: "3"
services:
  app:
    container_name: autograph-app
    volumes:
      - ${PWD}:/host/
    command:
      [
        "/app/src/autograph/bin/wait-for-it.sh",
        "db:5432",
        "--",
        "autograph",
        "-D",
        "-c",
        "/app/autograph.yaml",
      ]

  app-hsm:
    container_name: autograph-app-hsm
    volumes:
      - ${PWD}:/host/
