# Format: //devtools/kokoro/config/proto/build.proto

build_file: "oss-tools/.kokoro/windows_build.bat"
gfile_resources: "/bigstore/oss-tools-build-resources/cpdksetup.exe"
gfile_resources: "/bigstore/oss-tools-build-resources/roots.pem"
gfile_resources: "/bigstore/oss-tools-build-resources/go1.22.0.windows-amd64.msi"
